
body {
	line-height: 1;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	background-image: url('https://wallpaperscraft.com/image/grass_green_light_moist_drops_dew_9200_1366x768.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
}
ul {
	list-style: none;
}


/* ESTILOS BÁSICOS */
.container {
	display: block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

h1 {
	font-size: 3rem;
	font-family: 'Great Vibes', cursive;
}

span {
	border-bottom: 2px #6730EC solid;
	font-weight: 700;
}

small {
	font-size: 1rem;
	color: whitesmoke;
}
footer {
	display: block;
	width: 100%;
	margin: 5em 0 0;
	padding: 0 0 2em;
	overflow: hidden;
}

/* otros */

#slider { 
position: relative;
overflow: hidden;
width: 824px; 
height: 468px; 
border:10px solid #7aa44a;
border-radius: 40px;
margin: 0 auto;
padding: 0;
}


/* The width of each slide */
.slick-slide {
	width: 350px;
}

/* Color of the arrows */
.slick-next::before, .slick-prev::before {
	color: #7aa44a;
}

.fa{
	font-size: 17px;
}

.carousel-control .fa-angle-right, .carousel-control .fa-angle-left {
	position: absolute;
	top: 50%;
	z-index: 5;
	display: inline-block;
}
.carousel-control .fa-angle-left{
	left: 100%;
	width: 42px;
    height: 42px;
    margin-top: 0px;
    font-size: 31px;
    color: #7aa44a;
    border: 4px solid #7aa44a;
    border-radius: 53px;
}
.carousel-control .fa-angle-right{
	right: 100%;
	width: 42px;
    height: 42px;
    margin-top: 0px;
    font-size: 31px;
    color: #7aa44a;
    border: 4px solid #7aa44a;
    border-radius: 53px;
}