
body {
	line-height: 1;
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	background-image: url('https://wallpaperscraft.com/image/grass_green_light_moist_drops_dew_9200_1366x768.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
}
ul {
	list-style: none;
}


/* ESTILOS BÁSICOS */
.container {
	display: block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Great Vibes', cursive;
}
h1 {
	font-size: 3rem;
}

.lead {
	max-width: 660px;
	margin: 2em auto 1em;
	font-size: 120%;
}

input, select {
	width: 100%;
	border-radius: 3px;
	border: 1px solid #f1f1f1;
	line-height: 120%;
	padding: 1%;
	font-size: 120%;
	transition: .5s ease all;
	background: rgba(255,255,255,.9);
}
input::placeholder {
	color: gray;
}
.btn {
	display: block;
	text-align: center;
	font-weight: 800;
	cursor: pointer;
	color: #6730EC;
	background-color: transparent;
	letter-spacing: 1px;
	font-size: 90%;
	padding: 1em 1.5em;
	transition: .5s ease all;
	margin: 2em auto 1em;
	border: 1px solid #6730EC;
	width: 100%;
}
.btn:hover, .btn:active, .btn:focus {
	background-color: #552cb9;
	transition: .5s ease all;
	color: #fff;
}
p {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	display: block;
	margin: 1em 0;
	line-height: 1.4;
	text-align: justify;
}
span {
	border-bottom: 2px #6730EC solid;
	font-weight: 700;
}
b {
	font-weight: 800;
	color: #6730EC;
}
small {
	font-size: .8rem;
}
footer {
	display: block;
	width: 100%;
	margin: 5em 0 0;
	padding: 0 0 2em;
	overflow: hidden;
}
/*INPUT CHECK*/
input[type|=check] {
	display: inline-block;
	width: auto;
}
label[for|=check] {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-weight: normal;
	display: inline-block;
}
/* INPUT NUMBER SIN FLECHAS */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}

/* Especial */

.slick-carousel {
	margin: 47px auto;
	width: 844px
	border: 10px solid #7aa44a;
}

/* The width of each slide */
.slick-slide {
	width: 350px;
}

/* Color of the arrows */
.slick-next::before, .slick-prev::before {
	color: #7aa44a;
}